body {
  background-color: white;
}

/* show on every page/view */
.banner {  
  background-color: rgb(7, 2, 39);
  color: white;
}

/* show on every page/view */
.footer {
  background-color: rgb(7, 2, 39);
  color: white;
}

.home {
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
}

/* only show on home page/view */
.about {
  background-color: rgba(17, 4, 94, 0.6);
  color: white;
}

/* only show on home page/view */
.gallery {
  position: relative;
  background-color: rgba(17, 4, 94, 0.6);
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.profile {
  position: relative;
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
  /* width: 90%; */
  margin: auto;
  justify-content: center;
}

/* created animal image css for gallery, profile etc */

/* ------- STILL NEED THIS? ------- */
/* .profileImg {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
} */

.displayImg {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 0;
  background-color: black;
  text-align: center;
}

.imgHead {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: orange;
  color: black;
  width: 120px;
  height: 120px;
  z-index: 10;
  text-align: right;
}

.imgH {
  position: relative;
  margin: auto;
  padding: 0;
  width: 120px;
  height: 120px;
}

.imgBody {
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
  padding: 0;
  background-color: yellow;
  color: black;
  width: 170px;
  height: 170px;
  z-index: 5; 
  text-align: right;
}

.imgB {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  height: 170px;
}

/* media queries for larger screens */
    /* Larger than phablet */
    @media (min-width: 550px) {
      .displayImg {
        width: 250px;
        height: 250px;
        background-color: grey;
      }
      
      .imgHead {
        background-color: purple;
        width: 150px;
        height: 150px;
      }
      
      .imgH {
        width: 150px;
        height: 150px;
      }
      
      .imgBody {
        top: 38px;
        left: 38px;
        background-color: pink;
        width: 212px;
        height: 212px;
      }
      
      .imgB {
        width: 212px;
        height: 212px;
      }
      
    /* Larger than tablet */
    @media (min-width: 750px) { 
      .displayImg {
        width: 350px;
        height: 350px;
        background-color: blue;
      }
      
      .imgHead {
        background-color: green;
        width: 210px;
        height: 210px;
      }
      
      .imgH {
        width: 210px;
        height: 210px;
      }
      
      .imgBody {
        top: 52px;
        left: 52px;
        background-color: lime;
        width: 298px;
        height: 298px;
      }
      
      .imgB {
        width: 298px;
        height: 298px;
      }    
    }

.createStep1 {
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
}

.createStep2 {
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
}