body {
  background-color: white;
}

/* show on every page/view */
.banner {  
  background-color: rgb(7, 2, 39);
  color: white;
}

/* show on every page/view */
.footer {
  background-color: rgb(7, 2, 39);
  color: white;
}

.home {
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
}

/* only show on home page/view */
.about {
  background-color: rgba(17, 4, 94, 0.6);
  color: white;
}

/* only show on home page/view */
.gallery {
  position: relative;
  background-color: rgba(17, 4, 94, 0.6);
  color: white;
  width: 90%;
}

.profile {
  position: relative;
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
  width: 90%;
  margin: auto;
  justify-content: center;
}

/* created animal image css for gallery, profile etc */
.profileImg {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
}

.galleryImg {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0
}

.imgContainer {
  position: absolute;
  background-color: red;
  width: 100%;
  margin: 0 auto;
}

.imgHead {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  margin: 0;
  padding: 0;
  background-color: orange;
  color: black;
  width: 50%;
  height: 50%;
  z-index: 10;
  text-align: right;
}

.imgBody {
  position: absolute;
  top: 12%;
  left: 12%;
  margin: 0;
  padding: 0;
  background-color: yellow;
  color: black;
  width: 80%;
  height: 80%;
  z-index: 5; 
  text-align: right;
}

/* media queries for larger screens */
    /* Larger than phablet */
    @media (min-width: 550px) {
      .profileImg {
        width: 250px;
        height: 250px;
      }
      
      .galleryImg {
        width: 150px;
        height: 150px;
      }

      .imgContainer {
        background-color: blue;
      }
      
      .imgHead {
        background-color: blueviolet;
      }
      
      .imgBody {
        background-color: pink;
      }
    }


    /* Larger than tablet */
    @media (min-width: 750px) { 
      .profileImg {
        width: 400px;
        height: 400px;
      }
      
      .galleryImg {
        width: 200px;
        height: 200px;
      }

      .imgContainer {
        background-color: green;
      }
      
      .imgHead {
        background-color: lightgreen;
      }
      
      .imgBody {
        background-color: lightskyblue;
      }
    }

.createStep1 {
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
}

.createStep2 {
  background-color: rgba(17, 4, 94, 0.5);
  color: white;
}